<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/normalize-8.0.1.min.css" />
        <link rel="stylesheet" href="css/main.css" />
        <title>FlyEye</title>
        <link rel="icon" href="/flyeye.png" />
	</head>
	<body>
		<div class="container">
			<div class="nav">
				<div class="nav-left">
					<a href="/" class="nav-title"><img src="/flyeye.png"
						class="logo" />
					<span class="nav-extra">FlyEye</span></a>
					<a href="/recordings">Recordings</a>
					<a href="/settings">Settings</a>
				</div>
				<div class="nav-right">
					<a href="https://github.com/tiiuae/flyeye">GitHub</a>
				</div>
			</div>
			<div class="content">
