{{template "partials/header" .}}
<h2>Control Interface</h2>
<p><b>Status:</b> Standby</p>
<div class="col-5">
  <form method="post">
    <input type="hidden" name="action" value="start"></input>
    <button type="submit" class="btn">Start recording ⏺</button>
  </form>
</div>
<h3 id="c">Clients</h3>
<p><a href="/" class="btn">Refresh ✦</a></p>
{{range .Clients}}
<div class="entry">
  <u>{{.Config.ClientName}}</u>
  <div class="meta">
	<p>
	  {{if eq .State 1}}Cannot connect: {{.StateErr}}
	  {{else if eq .State 2}}Standby
	  {{else if eq .State 3}}Recording
	  {{else if eq .State 4}}Recording failed: {{.StateErr}}
	  {{else if eq .State 0}}Disconnected (inactive)
	  {{end}}
    </p>
    <p></p>
  </div>
</div>
{{end}}
{{template "partials/footer" .}}
